# BridgeIQ score sheet
.version = 17.1
.date = 2026-05-07
scoring.method = Teams

board.1.number = 816
board.1.pavlicek = BCH68FZy43k45NXFH
board.1.contract = 1NT
board.1.declarer = W
board.1.tricks = 7
board.1.ns_score = -90
board.1.ew_score = 90
board.1.ns_system = BEN-NN
board.1.ew_system = BEN-NN
board.1.imps = -11

board.2.number = 816
board.2.pavlicek = 26May07-E-01
board.2.contract = 4S
board.2.declarer = 
board.2.tricks = 11
board.2.ns_score = 450
board.2.ew_score = 0
board.2.ns_system = BEN-NN
board.2.ew_system = BEN-NN
board.2.imps = 11
