# BridgeIQ score sheet
.version = 17.1
.date = 2026-04-11
scoring.method = Teams

board.1.number = 88
board.1.pavlicek = BDiGJoCzglaLkjjwM
board.1.contract = 3NT
board.1.declarer = S
board.1.tricks = 7
board.1.ns_score = -100
board.1.ew_score = 100
board.1.ns_system = BEN-NN
board.1.ew_system = BEN-NN
