# BridgeIQ score sheet
.version = 17.1
.date = 2026-05-07
scoring.method = Teams

board.1.number = 273
board.1.pavlicek = BB3bohflVRNgHEUHm
board.1.contract = 4S
board.1.declarer = S
board.1.tricks = 9
board.1.ns_score = -50
board.1.ew_score = 50
board.1.ns_system = BEN-NN
board.1.ew_system = BEN-NN
