# BridgeIQ score sheet
.version = 17.1
.date = 2026-05-10
scoring.method = Teams

board.1.number = 863
board.1.pavlicek = 4TQ1y2FY8AFJyrjz
board.1.contract = 2NT
board.1.declarer = W
board.1.tricks = 9
board.1.ns_score = -150
board.1.ew_score = 150
board.1.ns_system = BEN-NN
board.1.ew_system = BEN-NN
board.1.imps = -7

board.2.number = 863
board.2.pavlicek = 26May10-E-01
board.2.contract = 3H
board.2.declarer = W
board.2.tricks = 9
board.2.ns_score = 140
board.2.ew_score = 0
board.2.ns_system = BEN-NN
board.2.ew_system = BEN-NN
board.2.imps = 7
