# BridgeIQ score sheet
.version = 17.1
.date = 2026-05-05
scoring.method = Teams

board.1.number = 216
board.1.pavlicek = BHfPnFz38Immr89a1
board.1.contract = 5H
board.1.declarer = S
board.1.tricks = 10
board.1.ns_score = -50
board.1.ew_score = 50
board.1.ns_system = BEN-NN
board.1.ew_system = BEN-NN
board.1.imps = -11

board.2.number = 216
board.2.pavlicek = 26May05-E-01
board.2.contract = 4NT
board.2.declarer = 
board.2.tricks = 11
board.2.ns_score = 460
board.2.ew_score = 0
board.2.ns_system = BEN-NN
board.2.ew_system = BEN-NN
board.2.imps = 11
