# BridgeIQ score sheet
.version = 17.1
.date = 2026-05-10
scoring.method = Teams

board.1.number = 858
board.1.pavlicek = 5RM8Fl78fWvQC^2$
board.1.contract = 5D
board.1.declarer = S
board.1.tricks = 9
board.1.ns_score = -200
board.1.ew_score = 200
board.1.ns_system = BEN-NN
board.1.ew_system = BEN-NN
board.1.imps = -3

board.2.number = 858
board.2.pavlicek = 26May10-E-01
board.2.contract = 5D
board.2.declarer = S
board.2.tricks = 9
board.2.ns_score = -100
board.2.ew_score = 0
board.2.ns_system = BEN-NN
board.2.ew_system = BEN-NN
board.2.imps = 3
