# BridgeIQ score sheet
.version = 17.1
.date = 2026-05-02
scoring.method = Teams

board.1.number = 25
board.1.pavlicek = wWbK1q4AT5l76kP5
board.1.contract = 2NT
board.1.declarer = W
board.1.tricks = 10
board.1.ns_score = -180
board.1.ew_score = 180
board.1.ns_system = BEN-NN
board.1.ew_system = BEN-NN
board.1.imps = -5

board.2.number = 25
board.2.pavlicek = wWbK1q4AT5l76kP5
board.2.tricks = 0
board.2.ns_score = 0
board.2.ew_score = 0
board.2.ns_system = BEN-NN
board.2.ew_system = BEN-NN
board.2.imps = 5
