# BEN Bridge score sheet
.version = 17.1
.date = 2026-05-03
scoring.method = Teams

board.1.number = 481
board.1.pavlicek = fqv31AQLYXIz2hMK
board.1.contract = 3NT
board.1.declarer = W
board.1.tricks = 11
board.1.ns_score = -460
board.1.ew_score = 460
board.1.ns_system = BEN-NN
board.1.ew_system = BEN-NN
board.1.imps = -10

board.2.number = 481
board.2.pavlicek = fqv31AQLYXIz2hMK
board.2.tricks = 0
board.2.ns_score = 0
board.2.ew_score = 0
board.2.ns_system = BEN-NN
board.2.ew_system = BEN-NN
board.2.imps = 10

board.3.number = 0
board.3.pavlicek = 26May03-E-01
board.3.contract = 3NT
board.3.declarer = S
board.3.tricks = 0
board.3.ns_score = 430
board.3.ew_score = 0
board.3.ns_system = BEN-NN
board.3.ew_system = BEN-NN
