# BEN Bridge configuration file
.version = 17.1
.description.eng = "BEN Bridge match control"

general.deal_number = 1.0
general.deal_source = Random
general.scoring = "Team (IMP)"
general.comparison = None
