# BEN Bridge configuration file
.version = 17.1
.description.eng = "BEN Bridge preferences"

preference.single_click = 1
preference.suit_layout = 0
preference.swap_ns_declarer = 1
preference.show_alert_marks = 1
preference.log_enabled = 1
preference.log_as_pbn = 0
preference.moved_cards = 0.5
preference.language = eng
preference.use_dd_play = 0
preference.use_mc_play = 1
preference.legacy_colors = 0
preference.show_ben_bid_analysis = 0
preference.bidding_engine = native
preference.native_bidding_system = Precision90M
preference.ns_bidding_system = Precision90M
preference.ew_bidding_system = SAYC
preference.blunder_check_enabled = 1
preference.play_mode = off
preference.one_player_seat = S
preference.one_player_use_for_sim = 1
preference.mini_show_all_hcp = 1
preference.mini_auto_declarer = 1
preference.mini_suggest_contract = 1
