# BEN Bridge configuration file
.version = 17.1
.description.eng = "BEN Bridge preferences"

preference.single_click = 1
preference.suit_layout = 0
preference.swap_ns_declarer = 1
preference.log_enabled = 1
preference.log_as_pbn = 0
preference.moved_cards = 0.5
preference.language = eng
preference.use_dd_play = 0
preference.four_color_suits = 1
preference.show_ben_bid_analysis = 0
