# BEN Bridge score sheet
.version = 17.1
.date = 2026-05-07
scoring.method = Teams

board.1.number = 589
board.1.pavlicek = C9HXqELx2Ql560gC
board.1.contract = 2H
board.1.declarer = W
board.1.tricks = 10
board.1.ns_score = -170
board.1.ew_score = 170
board.1.ns_system = BEN-NN
board.1.ew_system = BEN-NN
