# BEN Bridge score sheet
.version = 17.1
.date = 2026-05-05
scoring.method = Teams

board.1.number = 0
board.1.pavlicek = 26May05-E-01
board.1.contract = 4NT
board.1.declarer = 
board.1.tricks = 11
board.1.ns_score = 460
board.1.ew_score = 0
board.1.ns_system = BEN-NN
board.1.ew_system = BEN-NN
