# BEN Bridge score sheet
.version = 17.1
.date = 2026-05-07
scoring.method = Teams

board.1.number = 730
board.1.pavlicek = 0grMSP77R5Kjizx0
board.1.contract = 3NT
board.1.declarer = S
board.1.tricks = 9
board.1.ns_score = 600
board.1.ew_score = -600
board.1.ns_system = BEN-NN
board.1.ew_system = BEN-NN

board.2.number = 877
board.2.pavlicek = MtOdc6qCfcPTzXNk
board.2.contract = 1D
board.2.declarer = 
board.2.tricks = 9
board.2.ns_score = 110
board.2.ew_score = -110
board.2.ns_system = BEN-NN
board.2.ew_system = BEN-NN
