# Q-plus Bridge score sheet
.version = 17.1
.date = 2026-01-29
scoring.method = Teams

board.1.number = 1
board.1.pavlicek = ABC123
board.1.contract = 4S
board.1.declarer = S
board.1.tricks = 10
board.1.ns_score = 420
board.1.ew_score = -420
board.1.ns_system = BEN-NN
board.1.ew_system = BEN-NN
